# Common IDE settings files etc to ignore
.idea
*.iws
*.iml
*.ipr
.settings
.vs
local.properties
.user
.gradle

# Logs and databases, generally shouldn't be committed #
*.log
*.sqlite

# Build Artifacts
/out/
/target/
/build/

# These file extensions are blocked by default in most repos
*.exe
*.msi
*.7z
*.bz2
*.bin
*.class
*.com
*.dat
*.deb
*.dll
*.dmg
*.ear
*.exe
*.gz
*.iso
*.jar
*.lz
*.mdb
*.mp3
*.mp4
*.msi
*.msp
*.nupkg
*.o
*.ocx
*.pkg
*.pyc
*.rar
*.rpm
*.rz
*.so
*.tar
*.tgz
*.war
*.wav
*.wim
*.xz
*.zip

# whitelist the gradle wrapper jar specifically
!gradle/wrapper/gradle-wrapper.jar